[package]
name = "cargo-compare"
version = "0.1.0"
authors = ["Rain <rain1@fb.com>"]
edition = "2018"
publish = false

[dependencies]
anyhow = "1.0.71"
cargo = "0.71.0"
clap = { version = "4.3.4", features = ["derive"] }
color-eyre = { version = "0.6.2", default-features = false }
diffus = "0.10.0"
either = "1.8.1"
fs_extra = "1.3.0"
itertools = "0.10.5"
guppy = { path = "../../guppy" }
guppy-cmdlib = { path = "../../guppy-cmdlib", features = ["proptest1"] }
tempfile = "3.6.0"
once_cell = "1.18.0"
pathdiff = "0.2.1"
proptest = "1.2.0"
